<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset= "utf-8">
        <title>Quote History</title>
        <link rel="stylesheet" href="../cssFiles/style.css">
        <meta name ="viewport" content ="width=device-width, intial-scale=1">

    </head>

    <body>
        <div class="header-container">
            <a href="../index.html"><img class ="logo" src="../img/temp_logo.png" alt= "logo"></a>
            <span class = "brand"><a href="../index.html"> QuotEZ</a></span> 
            <nav>
                <ul class="nav-links">
                    <li><a href="profile.html">Manage profile</a></li>
                    <li><a href="registration.html">Sign up</a></li>
                   
                </ul>
            </nav>
            <a class ="log-in" href="login1.html"><button>Log in</button></a>
        </div>

            <div class="body-box"> 
                <h2>Below is your quote history</h2>

                <div class="table-box">

                <table>
                    <tr>
                        <th># of Gallons requested</th>
                        <th>Delivery Address</th>
                        <th>Delivery Date</th>
                        <th>Suggested Price/Gallon</th>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>1024 Wonderland street, Neptune, 10086</td>
                        <td>Devemper/34/2048</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>1024 Wonderland street, Neptune, 10086</td>
                        <td>Devemper/34/2048</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>1024 Wonderland street, Neptune, 10086</td>
                        <td>Devemper/34/2048</td>
                        <td>2</td>
                    </tr>
                </table>
                </div>

                <div class="picture">
                    <img class="black_white_pic" src="../img/cutted_black_white.png" alt= "petrochemical">
                </div>
    </body>
</html>