<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fuel Quote Form</title>
        <link rel="stylesheet" href="../cssFiles/style.css">
        <meta name ="viewport" content ="width=device-width, intial-scale=1">
    </head>

    <body>
        <div class="header-container">
            <a href="../index.html"><img class ="logo" src="../img/temp_logo.png" alt= "logo"></a>
            <span class = "brand"><a href="../index.html"> QuotEZ</a></span> 
            <nav>
                <ul class="nav-links">
                    <li><a href="profile.html">Manage profile</a></li>
                    <li><a href="registration.html">Sign up</a></li>
                   
                </ul>
            </nav>
            <a class ="log-in" href="login1.html"><button>Log in</button></a>
        </div>

        <div class= "form">
            <div class="quote-form-box-1"> 
                <h2>Fuel Quote Form</h2>  
                <div class = "center-form">
                <form action="/action_page.py">
                    <label class="info" for="num-gallons">Number of Gallons:</label> <br>
                    <input class="info-input" type = "number" id="num-gallons" name="num-gallons" required min="0" maxlength="8" size="20"> <br>
                    <label class="info" for="address">Delivery Address:</label><br>
                    <input class="info-input" type= "text" id="address" name="address" disabled size="20" placeholder="Auto Filled"><br> <!--need link to address of client profile---->
                    <label class="info" for="date">Delivery Date:</label><br>
                    <input class="info-input" type="date" id="date" name="date" required><br>

                 <input class ="calc-button" type="submit" name="submit" id="submit" value="CALCULATE"><br>

                <!---- <label>Suggested Price / Gallon</label>  --- may need to add suggested price/gallon--->
            </form>
            </div>
            </div>
        </div>

        <div class="picture">
            <img class="black_white_pic" src="../img/cutted_black_white.png" alt= "petrochemical">
        </div>

    </body>
</html>